body {
    background: #121212;
    color: white; /* 글자색 */
    font-family: 'Noto Sans', sans-serif;
}

.login-page {
    background: linear-gradient(to bottom, #121212 60%, #1F1F1F 115%, #121212 50%, #1F1F1F 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container-login {
    margin-bottom: 40px; /* 로고와 입력 필드 간의 간격 */
}

.logo-circle {
    width: 100px; /* 로고 크기 조정 */
}

.logo-main {
    width: 150px; /* 로고 크기 조정 */
}

.login-form {
    background-color: BLACK;
    padding: 30px; /* 내부 여백 */
    border-radius: 10px; /* 모서리 둥글게 */
}

.input-container {
    margin-bottom: 20px; /* 입력 필드 간의 간격 */
}

.login-form-title {
    color: white;
    font-size: 16px; /* 제목 크기 조정 */
    font-weight: bold;
    margin-bottom: 5px; /* 제목과 입력 필드 간의 간격 */
}

.login-form-control {
    width: 100%; /* 입력 필드 너비 */
    padding: 10px; /* 내부 여백 */
    border: 1px solid #727272; /* 테두리 색상 */
    border-radius: 5px; /* 모서리 둥글게 */
    background-color: #121212; /* 입력 필드 배경색 */
    color: white; /* 입력 필드 글자색 */
}

.login-form-control:focus {
    outline: 2px solid white;
}

.login-btn {

    font-weight: bolder;
    width: 100%; /* 버튼 너비 */
    padding: 10px; /* 내부 여백 */
    margin-top: 25px;
    background-color: #8C3131; /* 버튼 색상 */
    color: white; /* 버튼 글자색 */
    border: none; /* 테두리 제거 */
    border-radius: 40px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 커서 */
}

.login-btn:hover {
    background-color: #8C3131; /* 버튼 호버 색상 */
}

.options-container {
    display: flex;
    align-items: center; /* 수직 정렬 */
    justify-content: center; /* 수평 정렬 */
    margin-top: 0px; /* 간격 조정 */
}

.find-container {
    cursor: pointer;
}

/* 토글 스위치 스타일 */
.toggle-container {
    position: relative;
    display: flex;
    align-items: center; /* 수직 정렬 */
    margin-right: 20px; /* 텍스트와 토글 사이의 간격 */
}

.toggle-label {
    color: #ffffff; /* 토글 레이블 텍스트 색상 */
    font-size: 12px; /* 텍스트 크기 */
    margin-left: -10px; /* 텍스트와 토글 간격 */
    cursor: default; /* 기본 커서로 설정하여 클릭 불가능하게 만듦 */
}


.toggle-checkbox {
    display: none; /* 기본 체크박스 숨김 */
}

.toggle-slider {
    position: relative;
    width: 40px; /* 토글 슬라이더의 너비 */
    height: 20px; /* 토글 슬라이더의 높이 */
    background-color: #ccc; /* 기본 배경색 */
    border-radius: 20px; /* 둥근 모서리 */
    transition: background-color 0.3s; /* 부드러운 색상 전환 */
}

.toggle-slider:before {
    content: "";
    position: absolute;
    width: 18px; /* 슬라이더 버튼의 너비 */
    height: 18px; /* 슬라이더 버튼의 높이 */
    background-color: white; /* 슬라이더 버튼 배경색 */
    border-radius: 50%; /* 둥근 슬라이더 버튼 */
    transition: transform 0.3s; /* 부드러운 위치 전환 */
    top: 1px; /* 슬라이더 버튼 위치 조정 */
    left: 1px; /* 슬라이더 버튼 위치 조정 */
}

/* 체크박스가 체크되었을 때 */
.toggle-checkbox:checked + .toggle-slider {
    background-color: #4caf50; /* 체크 시 슬라이더 배경색 */
}

.toggle-checkbox:checked + .toggle-slider:before {
    transform: translateX(20px); /* 체크 시 슬라이더 버튼 이동 */
}

.find-container {
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 수평 중앙 정렬 */
    gap: 20px; /* 아이디 찾기와 비밀번호 찾기 사이의 간격 */
    margin-top: 10px; /* 위쪽 간격 추가 */
    color: #aaa; /* 글자 색상 조정 */
}

.forgot-password,
.forgot-id{
    font-size: 12px; /* 비밀번호 찾기 텍스트 크기 조정 */
    color: #aaa; /* 비밀번호 찾기 텍스트 색상 */
}

.message {
    margin-top: 10px; /* 메시지 간격 */
    min-height: 24px; /* 메시지 최소 높이 설정 */
}

.error-message {
    color: red; /* 에러 메시지 색상 */
}

.success-message {
    color: green; /* 성공 메시지 색상 */
}

.login-options {
    font-size: 12px;
    margin-top: 20px; /* 간격 조정 */
    color: #aaa; /* 링크 색상 */
    cursor: pointer;
    margin-bottom: 0px;
}

.btn-gosignup {
    text-decoration: underline; /* 밑줄 추가 */
}


